@font-face {
  font-family: "Medula One";
  src: url(fonts/MedulaOne-Regular.ttf);
}
html {
  filter: saturate(150%);
}
#grain {
  width: 100%;
  height: 100vh;
  position: fixed !important;
  z-index: 100;
  pointer-events: none;
}
body,
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Medula One";
  font-size: 20vw;
  color: #2c7f96;
  margin: 0;
  margin-top: 20vh;
  position: relative;
  pointer-events: none;
}
.heroimage {
  width: 100%;
  height: 100vh;
  background-color: #6cd9dd;
  display: flex;
  justify-content: center;
}
.link {
  width: max(30vw, calc(30 * 13px));
  height: max(20vw, calc(20 * 13px));
  position: absolute;
  bottom: 0;
  z-index: 200;
  pointer-events: all;
}
.headimage {
  position: absolute;
  /* width: calc(100vw - 1px); */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 101;
  pointer-events: none;
}
.mainimage {
  position: absolute;
  width: max(90vw, calc(90 * 13px));
  height: auto;
  bottom: min(-52vw, calc(-52 * 13px));
  pointer-events: none;
}
.eyes {
  position: absolute;
  /* width: calc(100vw - 1px); */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 102;
  pointer-events: none;
}
.eye {
  position: absolute;
  width: max(10vw, calc(10 * 13px));
  height: max(7vw, calc(7 * 13px));
  bottom: max(5vw, calc(5 * 13px));
  background-image: url("images/Vector1.svg");
  background-size: max(10vw, calc(10 * 13px));
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url("images/Vector1.svg");
  mask-position: center;
  mask-size: max(10vw, calc(10 * 13px));
  mask-repeat: no-repeat;
}

.eyes .left {
  left: 39vw;
}
.eyes .right {
  right: 36.5vw;
}

.iris {
  height: max(5vw, calc(5 * 13px));
  width: auto;
  position: relative;
  transition: transform 0.1s ease-out;
  /* transform: translate(50%, 50%); */
}

.aboutpage {
  width: 100%;
  height: 170vh;
  display: flex;
  background-color: #f0f3ae;
  flex-wrap: wrap;
}
.aboutpage h2 {
  font-family: "League Gothic", sans-serif;
  font-size: 15vw;
  font-weight: 100;
  margin: 3vw 10vw;
  color: #635f40;
  position: sticky;
  z-index: 101;
}
.oval1 {
  height: 60vh;
  width: 17vw;
  background-color: #794747;
  margin-left: 20vw;
  border-radius: 0 0 10vw 10vw;
  position: sticky;
  z-index: 101;
}
.oval2 {
  height: 65vh;
  width: 17vw;
  background-color: #794747;
  margin-left: 20vw;
  border-radius: 10vw;
  position: relative;
  top: -10vh;
  z-index: 101;
}
#abouttext {
  margin-top: 3vh;
  font-size: 3vh;

  height: 20vw;
  position: sticky;
  z-index: 101;
}
.aboutpage p {
  color: #794747;
  width: 40vw;
  margin-top: 3vw;
  margin-left: 10vw;
  font-family: "Kavoon", serif;
}
.oval2 img {
  width: 17vw;
  height: auto;
  position: relative;
  top: calc(65vh - 17vw);
  border-radius: 0 0 50vw 50vw;
}
.oval1 img {
  width: 25vw;
  height: auto;
  position: relative;
  top: calc(60vh - 25vw);
  right: 5vw;
}
.wall {
  width: 100%;
  height: auto;
  background-color: #f0f3ae;
  display: block;
}
.projects {
  background-image: url(images/picnic.png);
  width: 100%;
  /* height: calc(0.9 * 100vw); */
  /* height: 170vh; */
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
}
.container {
  padding-top: 10vh;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 30vh; */
}
.projimg {
  width: 30vh;
  height: calc(30vh * 1.2816);
  position: relative;
  box-shadow: 2px 5px 31px -1px rgba(0, 0, 0, 0.75);
  z-index: 101;
  margin: 15vh 15vh;
}

.projects .img1 {
  transform: rotateZ(-30deg);
}
.projects .img2 {
  transform: rotateZ(20deg);
}
.projects .img3 {
  transform: rotateZ(-10deg);
}
#contact {
  width: 100%;
  height: 130vh;
  background-color: #a6ebb5;
  display: flex;
  flex-wrap: wrap;
}
#contact h2 {
  margin-top: 10vh;
  color: #406346;
}
.circle {
  background-color: #2a4a4d;
}
#circle1 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin-top: 25vh;
  margin-left: 17vw;
}
.contact {
  width: 100%;
  height: 170vh;
  display: flex;
  background-color: #a6ebb5;
  flex-wrap: wrap;
}
.contact h2 {
  font-family: "League Gothic", sans-serif;
  font-size: 15vw;
  font-weight: 100;
  margin: 3vw 10vw;
  color: #406346;
  position: sticky;
  z-index: 101;
  height: 20vw;
}
#contacttext {
  margin-top: 3vh;
  font-size: 3vh;

  height: 20vw;
  position: relative;
  top: -20vh;
  z-index: 101;
}
.contact p {
  color: #406346;
  width: 40vw;
  margin-top: 3vw;
  margin-left: 5vw;
  font-family: "Kavoon", serif;
}
.circle1 {
  height: 40vw;
  width: 40vw;
  background-color: #2a4a4d;
  margin-left: 10vw;
  border-radius: 50%;
  position: sticky;
  z-index: 101;
}
.circle2 {
  height: 40vw;
  width: 40vw;
  background-color: #2a4a4d;
  margin-left: 5vw;
  border-radius: 50%;

  position: relative;
  top: -10vh;
  z-index: 101;
}
#gallery {
  width: 100%;
  height: 350vw;
  background-color: #ceaef3;
  display: flex;
  flex-wrap: wrap;
}
#ground {
  width: 100%;
  height: 10vw;
  background-color: #8673aa;
}
#gallerycontainer img {
  position: absolute;
  z-index: 101;
  width: 30vw;
  height: auto;
  filter: saturate(75%) !important;
}
#smallpaintings img:nth-child(1) {
  top: calc(100vh + 10vw);
  left: 20vw;
}
#smallpaintings img:nth-child(2) {
  top: calc(100vh + 30vw);
  left: 60vw;
}
#smallpaintings img:nth-child(3) {
  top: calc(100vh + 50vw);
  left: 20vw;
}
#smallpaintings img:nth-child(4) {
  top: calc(100vh + 70vw);
  left: 55vw;
}
#smallpaintings img:nth-child(5) {
  top: calc(100vh + 90vw);
  left: 20vw;
}
#smallpaintings img:nth-child(6) {
  top: calc(100vh + 110vw);
  left: 60vw;
}
#smallpaintings img:nth-child(7) {
  top: calc(100vh + 130vw);
  left: 15vw;
}
#smallpaintings img:nth-child(8) {
  top: calc(100vh + 140vw);
  left: 62vw;
}
#smallpaintings img:nth-child(9) {
  top: calc(100vh + 165vw);
  left: 20vw;
}
#smallpaintings img:nth-child(10) {
  top: calc(100vh + 170vw);
  left: 55vw;
}
#smallpaintings img:nth-child(11) {
  top: calc(100vh + 200vw);
  left: 20vw;
}
#smallpaintings img:nth-child(12) {
  top: calc(100vh + 210vw);
  left: 60vw;
}
#smallpaintings img:nth-child(13) {
  top: calc(100vh + 235vw);
  left: 25vw;
}

#bigpainting {
  top: calc(100vh + 290vw);
  left: 25vw;
  width: 50vw !important;
}

@media screen and (max-width: 1300px) {
  .eyes .left {
    left: calc(50% + (1300px * 0.39 - 650px));
  }
  .eyes .right {
    right: calc(50% + (1300px * 0.365 - 650px));
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40vw;
    text-align: center;
    margin-top: 10vh;
  }
  #wallcontainer {
    overflow-x: hidden;
  }
  .wall {
    width: auto;
    height: 100vh;
  }
  .aboutpage {
    height: 100vh;
    flex-shrink: 0;
  }
  .oval1 {
    height: 35vh;
    width: 30vw;
    margin-left: 0vw;
    border-radius: 0 0 15vw 15vw;
  }
  .oval2 {
    height: 30vh;
    width: 30vw;
    margin-left: 10vw;
    border-radius: 15vw;
    top: 10vh;
  }
  .oval1 img {
    width: 40vw;
    height: auto;
    position: relative;
    top: calc(35vh - 40vw);
    right: 5vw;
  }
  .oval2 img {
    width: 30vw;
    height: auto;
    position: relative;
    top: calc(30vh - 30vw);
    border-radius: 0 0 15vw 15vw;
  }
  .aboutpage h2 {
    font-size: 25vw;
  }
  #abouttext {
    font-size: 5vw;
    line-height: 6.5vw;
  }
  #abouttext #p1 {
    position: absolute;
    top: -30vh;
    left: -35vw;
  }
  #abouttext #p2 {
    position: absolute;
    top: -13vh;
    left: -35vw;
    width: 80vw;
  }
  #abouttext #p3 {
    position: absolute;
    top: 5vh;
    left: 0vw;
  }
  .container img {
    width: 50vw;
    height: auto;
  }

  /* contact */

  .contact {
    height: 100vh;
    flex-shrink: 0;
  }
  .circle1 {
    height: 35vw;
    width: 35vw;
    position: relative;
    top: 17vh;
  }
  .circle2 {
    height: 40vw;
    width: 40vw;
    position: relative;
    top: 10vh;
    left: 5vw;
  }
  .circle1 img {
    width: 40vw;
    height: auto;
    position: relative;
    top: calc(35vh - 40vw);
    right: 5vw;
  }
  .circle2 img {
    width: 30vw;
    height: auto;
    position: relative;
    top: calc(30vh - 30vw);
    border-radius: 0 0 15vw 15vw;
  }
  .contact h2 {
    font-size: 25vw;
    margin-right: 0;
  }
  #contacttext {
    font-size: 5vw;
    line-height: 6.5vw;
  }
  #contacttext #p1 {
    position: absolute;
    top: -10vh;
    left: -35vw;
  }
  #contacttext #p2 {
    position: absolute;
    top: 9vh;
    left: -35vw;
    width: 80vw;
  }
  #contacttext #p3 {
    position: absolute;
    top: 25vh;
    left: 10vw;
  }
  .container img {
    width: 50vw;
    height: auto;
  }
  /* gallery */
  #bigpainting {
    top: calc(100vh + 370vw);
    left: 10vw;
    width: 80vw !important;
  }
  #smallpaintings img {
    width: 40vw;
    height: auto;
    position: static;
    margin: 5vw 0;
  }
  #smallpaintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #gallery {
    height: 490vw;
  }
}
