@font-face {
  font-family: "Medula One";
  src: url(fonts/MedulaOne-Regular.ttf);
}
html {
  filter: saturate(200%);
}
#grain {
  width: 100%;
  height: 100%;
  position: fixed !important;
  z-index: 9999;
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Medula One";
  font-size: 20vw;
  color: #2c7f96;
  margin: 0;
  margin-top: 20vh;
}
.heroimage {
  width: 100%;
  height: 100vh;
  background-color: #6cd9dd;
  display: flex;
  justify-content: center;
}
.headimage {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.mainimage {
  position: absolute;
  width: 90vw;
  height: auto;
  bottom: -52vw;
}
.eyes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.eyes .left {
  position: absolute;
  width: 10vw;
  height: 7vw;
  left: 39vw;
  bottom: 5vw;
  background-image: url("/images/Vector1.svg");
  background-size: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url("/images/Vector1.svg");
  mask-position: center;
  mask-size: 10vw;
  mask-repeat: no-repeat;
}
.eyes .right {
  position: absolute;
  width: 10vw;
  height: 7vw;
  right: 36.5vw;
  bottom: 5vw;
  background-image: url("/images/Vector1.svg");
  background-size: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url("/images/Vector1.svg");
  mask-position: center;
  mask-size: 10vw;
  mask-repeat: no-repeat;
}

.irisleft {
  height: 5vw;
  width: auto;

  /* transform: translate(50%, 50%); */
}
.irisright {
  height: 5vw;
  width: auto;

  /* transform: translate(50%, 50%); */
}
.aboutpage {
  width: 100%;
  height: 120vh;
  display: flex;
  background-color: #f0f3ae;
  flex-wrap: wrap;
}
h2 {
  font-family: "League Gothic", sans-serif;
  font-size: 15vw;
  font-weight: 100;
  margin: 3vw 10vw;
  color: #635f40;
}
.oval1 {
  height: 60vh;
  width: 17vw;
  background-color: #794747;
  margin-left: 20vw;
  border-radius: 0 0 10vw 10vw;
}
.oval2 {
  height: 65vh;
  width: 17vw;
  background-color: #794747;
  margin-left: 20vw;
  border-radius: 10vw;
  position: relative;
  top: -10vh;
}
.aboutpage p {
  color: #794747;
  width: 40vw;
  height: 20vw;
  margin-left: 10vw;
  margin-top: 5vh;
  font-size: 1.8vw;
  font-family: "Kavoon", serif;
}
.oval2 img {
  width: 17vw;
  height: auto;
  position: relative;
  top: calc(65vh - 17vw);
  border-radius: 0 0 50vw 50vw;
}
.oval1 img {
  width: 25vw;
  height: auto;
  position: relative;
  top: calc(60vh - 25vw);
  right: 5vw;
}
.wall {
  width: 100%;
  height: auto;
  position: absolute;
  /* top: calc(250vh - 0.7142 * 100vw); */
  top: 220vh;
  background-color: #f0f3ae;
}
